.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerSearch{
    position: absolute;
    top: 20px;
    width: 90%;
    margin-bottom: 20px;
    padding: 10px;
} 
.inputSearch{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}
.inputSearch input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    color: black;
}
.containerInput input::placeholder{
    color: black;
}
.iconSearch{
    position: absolute;
    content: "";
    top: 6.5px;
    right: 15px;
    height: 1.5em;
    width: 1.5em;
    color: #8d8d8d;
    transition: all .2s ease-in-out;
}
.iconSearch:hover{
    transform: scale(1.2,1.2);
}

@media (min-width:992px) {
    .container{
        flex-direction: row;
    }
    .containerSearch{
        position: relative;
        top: 0;
        width: 30%;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.56);
        margin: 0;
    }
    .containerCurrent{
        width: 70%;
    }
    .iconSearch{
        top: 10px;
    }
    .inputSearch input{
        padding: 15px 0 15px 20px;
    }
}


