.card{
    width: 200px;
    display: flex;
    margin: 5px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.cardIcon{
    width: 50%;
}
.cardTemp{
    font-size: 20px;
}
.cardMain{
    font-size: 20px;
}
.cardDate, .cardHour{
    font-size: 20px;
}
@media (min-width:576px){
    .card{
        width: 250px;
    }
}
@media (min-width:768px) {
    .card{
        justify-content: space-around;
    }
    .cardTemp , .cardDate, .cardHour, .cardMain{
        font-size: 30px;
    }   
}
@media (min-width:1200px) {
    .card{
        width: 400px;        
    }
}