.card{
    width: 300px;
    padding: 0px 10px 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    color: white;
    border-bottom: solid 1px white;
}

.cardIcon{
    width: 50%;
}
.cardTemp{
    font-size: 20px;
}
.cardDate, .cardHour{
    font-size: 20px;
}