.currentWeather{
    width: 100%;
    height: 100vh;
    text-align: center;
    color:white;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.currentWeather .nameCity{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nameCity svg{
    margin-right: 5px;
}
.data{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.dataIcon{
    font-size: 20px;
}
.dataInfo{
    font-size: 25px;
    padding-top: 50px;
}
.dataInfo div{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dataInfo div svg{
    margin-right: 5px;
}
.containerDenied{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    gap: 40px;
}
@media (min-width:768px) {
    .currentWeather{
        gap: 100px;
    }
    .currentWeather .nameCity{
        font-size: 60px;
    }
    .data{
        width: 100%;
        flex-direction: row;
    }
    .dataIcon{
        width: 50%;
        font-size: 30px;
        border-right: solid 1px;
        padding: 10px;

    }
    .dataIcon img{
        width: 250px;
        
    }
    .dataInfo{
        width: 50%;
        font-size: 30px;
        padding: 10px;

    }
    
}
@media (min-width:1200px) {
    .dataInfo{
        font-size: 45px;
    }
    .dataIcon{
        font-size: 45px;
        border-right: solid 2px;
    }
    
}